body {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 300;
    
    line-height: 30px;
    text-align: center;
    background-image:url("../img/fondo.jpg") ; 

    background-size: 100% 100%;

}
#TablaOpciones{


}
strong { 
	font-weight: 500; 
}
a, a:hover, a:focus {
	text-decoration: none;
}
h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    line-height: 50px;
}
h3 {
	font-size: 22px;
    font-weight: 300;
}

/* Contenidos y Formulario*/
.my-content {
    padding: 100px 0 170px 0;
}
.my-content .mydescription {
    margin: 20px 0 10px 0;
}
.my-content .mydescription p { 
    opacity: 0.8; 
}
.myform-cont {
    margin-top: 35px;
}
.myform-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: 10px 10px 0 0; 
    -webkit-border-radius: 10px 10px 0 0; 
    border-radius: 10px 10px 0 0;
    
}
.myform-top2 {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: 10px 10px 0 0; 
    -webkit-border-radius: 10px 10px 0 0; 
    border-radius: 10px 10px 0 0;
    width: 700px;
}
.myform-top3 {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: 10px 10px 0 0; 
    -webkit-border-radius: 10px 10px 0 0; 
    border-radius: 10px 10px 0 0;
    width: 700px;
}
.myform-top-left2 { 
    float: left;
    width: 75%;
    padding-top: 25px;
    text-align: left;
}
.myform-top-left2 { 
    float: left;
    width: 75%;
    padding-top: 25px;
    text-align: left;
     width: 150px;
}
.myform-top-left3 { 
    float: left;
    width: 75%;
    padding-top: 25px;
    text-align: left;
     width: 150px;
}
.myform-top-left p { 
     
    color:white;
    font-family:'Comic Sans';
    font-size: 25px;


}
.myform-top-left2 p { 
     
    color:white;
    font-family:'Comic Sans';
    font-size: 25px;

}
.myform-top-left3 p { 
     
    color:white;
    font-family:'Comic Sans';
    font-size: 25px;

}
.myform-top-right {
    float: right;
    width: 25%;
    padding-top: 25px;
    font-size: 66px;
    text-align: right;
    opacity: 0.3;
}
.myform-top-right2 {
    float: right;
    width: 25%;
    padding-top: 25px;
    font-size: 66px;
    text-align: right;
    opacity: 0.3;
    width: 150px;
}
.myform-top-right3 {
    float: right;
    width: 25%;
    padding-top: 25px;
    font-size: 66px;
    text-align: right;
    opacity: 0.3;
    width: 150px;
}
.myform-bottom {
    padding: 25px 25px 30px 25px;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 10px 10px; 
    -webkit-border-radius: 0 0 10px 10px; 
    border-radius: 0 0 10px 10px;
}
.myform-bottom2 {
    padding: 25px 25px 30px 25px;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 10px 10px; 
    -webkit-border-radius: 0 0 10px 10px; 
    border-radius: 0 0 10px 10px;
        width: 700px;
}
.myform-bottom3 {
    padding: 25px 25px 30px 25px;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 10px 10px; 
    -webkit-border-radius: 0 0 10px 10px; 
    border-radius: 0 0 10px 10px;
        width: 700px;
}
.myform-bottom .mybtn {
    width: 100%;
}
input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
    height: 50px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    
}
input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
    background: #fff;
    border: 2px solid #1AAE88;
}

button.mybtn {
    height: 50px;
    background: #1AAE88;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    
}

button.btn{
 -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 29px;
  background: #d93434;
  padding: 5px 10px 5px 10px;
  border: solid #910000 4px;
  text-decoration: none;
}

.btn:hover {
  background: #b80707;
  text-decoration: none;
  color: #ffffff;
}
button.mybtn:hover, button.mybtn:active { 
    opacity: 0.6; 
    color: #fff; 
}
button.mybtn:focus { 
    opacity: 0.6;  
    color: #fff; 
    background: #de615e; 
}

/*LOGIN REDES SOCIALES*/

.mysocial-login {
    margin-top: 35px;
}
.mysocial-login-buttons {
    margin-top: 25px;
}
.mybtn-social {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 15px 20px 0 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px;
}
.mybtn-social:hover, .mybtn-social:focus, .mybtn-social:active:focus { 
    outline: 0;
    opacity: 0.6; 
    background: rgba(0, 0, 0, 0.3); 
    color: #fff; 
}

/* Media queries */
@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
    
    .mytop-content { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {
    
    h1, h2 { font-size: 32px; }

}
#p{
   outline: 0;
  text-align: center; 
    background: rgba(0, 0, 0, 0.3); 
    color: #fff; 
}
h3{
  font-style:italic;
  font-weight:bold;
  font-size:2em;
  font-color:white;
  font-family:'Helvetica','Verdana','Monaco',sans-serif;
  color:white;
  background: rgba(0, 0, 0, 0.3); 
}
button.btn1{
 -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  background: #d93434;
  padding: 7px 14px 7px 14px;
  border: solid #910000 4px;
  text-decoration: none;
}
.btn1{
 -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  background: #d93434;
  padding: 7px 14px 7px 14px;
  border: solid #910000 4px;
  text-decoration: none;
}
.btn3{
 -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  background: #1AAE88;
  padding: 7px 14px 7px 14px;
  border: solid blue 4px;
  text-decoration: none;
}
.btn2{
 -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  background: #d93434;
  padding: 7px 14px 7px 14px;
  border: solid #910000 4px;
  text-decoration: none;
  width: 300px;
  height: 50px;
  margin-left: 100px;
}
#tdraro{
display: none;
opacity: -10;
}

.btn1:hover {
  background: #b80707;
  text-decoration: none;
  color: #ffffff;
}

table {
  width: 100%;
  max-width: 600px;
  height: 320px;
  border-collapse: collapse;
  border: 1px solid #38678f;
  margin: 50px auto;
  background: white;
}
#TablaOpciones{
background: none;
border:none;

}
#TablaOpciones td{
border: none;

}
#btnverH{
width: 200px;
    font-family:'Comic Sans';
    font-size: 20px;
}
#btnbuscarH{
width: 200px;
    font-family:'Comic Sans';
    font-size: 20px;
}
#btnbuscarA{
  width: 200px;
      font-family:'Comic Sans';
    font-size: 20px;
}
#btndevolver{
  width: 200px;
      font-family:'Comic Sans';
    font-size: 20px;
}
#btnpedido{
  width: 300px;
      font-family:'Comic Sans';
    font-size: 20px;
}
th {
  background: steelblue;
  height: 54px;
  width: 25%;
  font-weight: lighter;
  text-shadow: 0 1px 0 #38678f;
  color: white;
  border: 1px solid #38678f;
  box-shadow: inset 0px 1px 2px #568ebd;
  transition: all 0.2s;
}
tr {
  border-bottom: 1px solid #cccccc;
}
tr:last-child {
  border-bottom: 0px;
}
td {
  border-right: 1px solid #cccccc;
  padding: 10px;
  transition: all 0.2s;
}
td:last-child {
  border-right: 0px;
}
td.selected {
  background: #d7e4ef;
  z-index: ;
}
td input {
  font-size: 14px;
  background: none;
  outline: none;
  border: 0;
  display: table-cell;
  height: 100%;
  width: 100%;
}
td input:focus {
  box-shadow: 0 1px 0 steelblue;
  color: steelblue;
}
::-moz-selection {
  background: steelblue;
  color: white;
}
::selection {
  background: steelblue;
  color: white;
}
.heavyTable {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: float 5s infinite;
}
.main {
  max-width: 600px;
  padding: 10px;
  margin: auto;
}
.content {
  color: white;
  text-align: center;
}
.content p,
.content pre,
.content h2 {
  text-align: left;
}
.content pre {
  padding: 1.2em 0 0.5em;
  background: white;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.9);
  color: #38678f;
}
.content .download {
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  display: inline-block;
  padding: 1em 1em;
  border-radius: 12em;
  margin-bottom: 2em;
}
.content .button {
  display: inline-block;
  text-decoration: none;
  color: white;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  border-radius: 24px;
  border: 1px solid #38678f;
  background: steelblue;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 3px rgba(255, 255, 255, 0.2);
  transition: all 0.1s;
}
.content .button:hover {
  background: #4f8aba;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.1);
}
.content .button:active {
  color: #294d6b;
  background: #427aa9;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.content .button:focus {
  outline: none;
}
h1 {
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#tdarriba{
    background-color: #DD3737;
}
#tdarriba1{
    background-color: #DD3737;

}

#tdarriba2{
    background-color: white;
    height: 50px;
}
#table2 {
  width: 100%;
  max-width: 600px;
  height: 70px;
  border-collapse: collapse;
  border: 1px solid #38678f;
  margin: 50px auto;
  background: white;
}
#tdarriba3{
    background-color: #1AAE88;

}